.anim {
  width: 100px;

  height: 100px;

  border-radius: 50%;

  border: 10px solid #d6d8db;

  border-left: 10px solid #7abaff;

  animation: anim 1s infinite linear;
}

@keyframes anim {
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.icone_anim {
  animation: icone_anim 5s infinite linear;
  position: relative;
  color:#a6aab1;
}

@keyframes icone_anim {
  0% {
    left: 0px;
  }

  10% {
    left: 10px;
  }
    20% {
    left: 0px;
  }

  100% {
    left: 0px;
  }
}



.wow {
  animation: wow 0.5s 1 linear;
  position: relative;
}

@keyframes wow {
  0% {
    top: 15px;
    opacity: 0.5 ;
  }

  50% {
    top: 7px;
    opacity: 0.75 ;
  }
 
  100% {
    top: 0px;
    opacity: 1 ;
  }
}