table td {
  padding: 2px !important ;
  padding-top: 10px !important ;
  font-size: 16px;
  line-height: 18px;
  min-width: 120px;
  max-width: 150px;
  border: 1px solid black;
  text-align: center;

}

table {
    border-collapse: collapse;
    width: 100%;
}

h1 {
    text-align: center;
}

.talkhis{
     width:20%;
}